# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*.html
testing/
node_modules/
testJar/node_modules/

*.class
output.txt
fly.toml
bare_app/output.json
